<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.off.asithembiso.rands">

    <application
        android:name=".conf.util.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="RandsLifestyle"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="com.off.asithembiso.rands.LoginActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity">
            <intent-filter>
                <action android:name="com.off.asithembiso.rands.RegisterActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".StartMenuActivity">
            <intent-filter>
                <action android:name="com.off.asithembiso.rands.StartMenuActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".AddEmployee">
            <intent-filter>
                <action android:name="com.off.asithembiso.rands.AddEmployee" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayEmployees">
            <intent-filter>
                <action android:name="com.off.asithembiso.rands.DisplayEmployees" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>